* {
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
}

.total-container {
  height: 100vh;
}

.map-container {
  height: 85vh;
}

.target-container {
  height: 31vh;
  width: 33%;

}
.about-area {
  background-image: url(./img/about.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
}
.skill-area {
  background-image: url(./img/skill.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
}
.project-area {
  background-image: url(./img/project.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
}
.contact-area {
  background-image: url(./img/contact.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
}

.about-area:hover,
.skill-area:hover,
.project-area:hover,
.contact-area:hover {
  background-color: #CBCBCB;
  cursor: pointer;
}

.car {
  background-image: url(./img/carLeft.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  height: 10vh;
  width: 20%;
  left: 50%;
  top: 50%;
}

.control-box {
  height: 123px;
  width: 123px;
  left: 50%;
  top: 80%;
}

.arrow-up-controller {
  background-image: url(./img/arrowUp.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  height: 41px;
  width: 41px;
  border-radius: 5px;
}
.arrow-left-controller {
  background-image: url(./img/arrowLeft.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  height: 41px;
  width: 41px;
  border-radius: 5px;
}
.arrow-right-controller {
  background-image: url(./img/arrowRight.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  height: 41px;
  width: 41px;
  border-radius: 5px;
}
.arrow-down-controller {
  background-image: url(./img/arrowDown.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  height: 41px;
  width: 41px;
  border-radius: 5px;
}
.arrow-up-controller:hover,
.arrow-left-controller:hover,
.arrow-right-controller:hover,
.arrow-down-controller:hover {
  background-color: #CBCBCB;
  cursor: pointer;
}

@media (min-width: 1300px) {
  .control-box{
    display: none;
  }
}